---
---

@import "variables";
@import "document";
@import "feature";
@import "section";
@import "team";
@import "lobby_transit";
@import "room_phone";

body {
  color: $font-color;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0;
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 1.5rem 3rem;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

.navbar_white-background {
  .navbar__logo {
    color: $font-color;
  }

  .navbar__link {
    color: $font-color;
    border-bottom: 1px solid transparent;
    transition: $default-transition;

    &:hover {
      border-bottom: 1px solid $teecom-blue;
      color: $teecom-blue;
    }
  }
}

.navbar__logo {
  color: $white;
  font-size: 1.9rem;
  font-weight: 400;
  text-decoration: none;
}

@media screen and (max-width: 640px) {
  .navbar {
    flex-direction: column;
    justify-content: center;
  }

  .navbar__logo {
    margin-bottom: 1rem;
  }
}

.navbar__links {
  font-size: 1.2rem;
}

.navbar__link {
  color: $white;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: $default-transition;

  &:not(:first-of-type) {
    margin-left: 1.2rem;
  }

  &:hover {
    border-bottom: 2px solid $white;
  }
}

.navbar__link_active {
  font-weight: 400;
  border-bottom: 2px solid $teecom-blue !important;
  color: $teecom-blue !important;

  &:hover {
    border-bottom: 2px solid $teecom-blue !important;
  }
}

.button {
  border: none;
  border-radius: 3px;
  background: $white;
  color: $teecom-blue;
  display: inline-block;
  padding: 1rem 2rem;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 400;
}

@media screen and (max-width: 640px) {
  .button {
    padding: 1rem 0;
    text-align: center;
    width: 100%;
  }
}

.button_red {
  background: $teecom-red;
  color: $white;
}

.button_blue {
  background: $teecom-blue;
  color: $white;
}

hr {
  border: none;
  border-top: 1px solid $light-grey;
  display: block;
  height: 1px;
  margin: 4rem 0;
}

.heading {
  color: $font-color;
  font-size: 3rem;
  margin-top: 10rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 5rem;
}

.heading_blue {
  color: $teecom-blue;
}

p {
  font-size: 1.3rem;
  line-height: 2rem;
  margin-top: 2.5rem;
}

img {
  width: 100%;
}
