.document {
  padding: 1rem;
  counter-reset: footnotes;
  margin-top: 4rem;

  a {
    color: $teecom-blue;
    text-decoration: none;
    transition: $default-transition;
    border-bottom: 1px solid $transparent;

    &:hover {
      color: $teecom-blue;
      border-bottom: 1px solid $teecom-blue;
    }
  }

  h2 {
    padding-top: 1rem;
  }

  ul, ol {
    font-size: 1.3rem;
    line-height: 2rem;
    padding-left: 1.7rem;

    li {
      padding-bottom: 1.5rem;
    }
  }

  img {
    @extend .large-container;
  }
}

a[rel="footnote"] {
  counter-increment: footnotes;

  &::after {
    content: counter(footnotes);
    font-size: .8rem;
    vertical-align: super;
    margin: .1rem;
  }
}

a[rel="footnote-return"]::after {
  content: "↵";
}
