$font-color: #29292c;
$lightest-grey: #f7f7f7;
$light-grey: #f0f0f2;

$teecom-blue: #1794CE;
$teecom-green: #96C95F;
$teecom-red: #FF654C;

$default-transition: all 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);

$white: #fff;
